@import "./variable";

#header {
  grid-area: header;
  background: $blue-gradient;
  display: flex;
  align-items: center;
  color: #fff;
}

.siteMap {
  user-select: none;
  font-size: 1.4rem;
  &:before {
    content: ">";
    color: #aaa;
    margin-inline: 15px;
  }

  &:first-child {
    margin-left: 20%;
    &:before {
      content: "";
    }
  }
}
