@import "./variable";

.loginPage {
  height: 100vh;
  width: 100vw;
  background: center / cover url(../../assets/images/login-bc2.svg);
  display: grid;
  place-content: center;
}

.signUpForm {
  width: 50vw;
  padding: 100px 50px;
  margin: 50px auto;
  background-color: #ccc;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  label {
    color: #666;
    font-size: 1.3rem;
    user-select: none;
  }

  input {
    width: 50%;
    padding: 10px;
    font-size: 1.5rem;
    margin: 10px 0 30px;
  }

  button {
    all: unset;
    background-color: #333;
    padding: 8px 10px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 200ms;
    border-radius: 5px;

    &:hover {
      background-color: #666;
    }
  }
}

.logInForm {
  width: 350px;
  height: 350px;
  padding: 50px 70px;
  background-color: rgb(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 37% 63% 64% 36% / 35% 38% 62% 65%;

  section {
    position: relative;
    margin-top: 40px;

    input {
      all: unset;
      width: 100%;
      box-sizing: border-box;
      padding: 5px 35px;
      border-bottom: 2px solid $primary-color;
      color: #fff;
      font-size: 1.2rem;
      transition: all 300ms;

      &:focus {
        border-color: $secondary-color;
      }
    }

    label {
      display: none;
    }
  }

  button {
    all: unset;
    padding: 5px 10px;
    margin-top: 50px;
    cursor: pointer;
    transition: all 200ms;
    border: 1px solid $primary-color;
    font-size: 0.8rem;
    user-select: none;

    &:hover {
      color: $secondary-color;
      background-color: $primary-color;
    }
  }
}

.icon {
  color: #fff;
  position: absolute;
  font-size: 1.2rem;
  left: 3px;
  top: 7px;
}

.eyeIcon {
  position: absolute;
  right: 0;
  font-size: 0.9rem;
  top: 11px;
  color: $primary-color;
  cursor: pointer;
}
