/* Fonts */
@font-face {
  font-family: "Ubuntu";
  src: local("Trickster"),
    url(./../../assets/fonts/Ubuntu/Ubuntu-Regular.ttf) format("truetype"),
    url(./../../assets/fonts/Ubuntu/Ubuntu-Bold.ttf) format("truetype"),
    url(./../../assets/fonts/Ubuntu/Ubuntu-BoldItalic.ttf) format("truetype"),
    url(./../../assets/fonts/Ubuntu/Ubuntu-Italic.ttf) format("truetype"),
    url(./../../assets/fonts/Ubuntu/Ubuntu-Light.ttf) format("truetype"),
    url(./../../assets/fonts/Ubuntu/Ubuntu-LightItalic.ttf) format("truetype"),
    url(./../../assets/fonts/Ubuntu/Ubuntu-Medium.ttf) format("truetype"),
    url(./../../assets/fonts/Ubuntu/Ubuntu-MediumItalic.ttf) format("truetype");
}
$main-font: "Ubuntu", sans-serif;

/* Colors */
$primary-color: #051937;
$secondary-color: #fbae3c;

// $secondary-color: #fdd702;
$green-color: #04c704;
$red-color: #eb2727;

$blue-gradient: linear-gradient(
  to right,
  #051937,
  #051937,
  #001c46,
  #001f54,
  #002263,
  #072371
);

/* Gap In bottom of bSide */
.freePlace {
  height: 100px;
  width: 1px;
  display: block;
  border: 1px solid transparent;
}

.noDrop {
  cursor: not-allowed !important;
}

.cpCur {
  cursor: copy !important;
}
