@import "./variable";
@import "./aside.module";
@import "./bsideItem.module";
@import "./bsideItem.module";
@import "./bsideCategory.module";
@import "./itemsForm.module";
@import "./header.module";

/* CSS Normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

main {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 80px calc(100vh - 110px) 30px / 20vw 80vw;
  grid-template-areas: "header header" "aside bside" "footer footer";
  overflow: hidden;
}

#tutorVideo {
  display: grid;
  place-content: center;
  position: relative;

  .videoFrame {
    width: 50vw;
    aspect-ratio: 1.76;
    min-width: 300px;
    border: 5px solid var(--second-color);
  }
}

/* Scroll */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
}

::-webkit-scrollbar-track {
  background: transparent;
}
